[Unit]
Description=sabrelet: The sabre Node Agent
After=network.target

[Service]
ExecStart=/usr/sbin/sabrelet
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
