[Unit]
Description=sabrelet: The sabre Node Agent
Wants=network-online.target
After=network.target

[Service]
ExecStart=/usr/sbin/sabrelet
Restart=always
StartLimitInterval=0
RestartSec=12s

[Install]
WantedBy=multi-user.target
